*{margin: 0;
padding: 0%;}


.container{
 position: relative;
 width:60%;
 color:rgb(1, 7, 16);
  
 margin-right: auto;
 margin-left: auto;
}
.header h5{
color: grey;

}
.cri{
    margin-bottom: 15px;
    
}
.logo img{
    width: 40%;
    display: block;
    margin:auto;
}
.image{
    margin: 20px auto;
}
.text p {
    font-size: 20px;
    margin-bottom: 20px;
}
.header h1{
    font-size: 45px;
    font-style: oblique;
}
.icon {
    float: right ;
    margin-bottom: 20%;
    margin-top: -40px;

}
.icon ul{
    padding: 0;
    list-style: none;
    text-align: right;
}
.icon ul li{
    display: inline-block;
    margin-left: 10px;
}
.icon ul li a{
    display: block;
    text-decoration: none;
}
.icon ul li a i{
    background-color:rgb(3, 3, 17); 
    color: #fff;
    width: 34px;
    height: 26px;
    padding-top:8px ;
    border-radius: 25%;
    text-align: center;
    display: block;
    text-decoration: none;
    transition: 0.5s;
}


.icon ul li a :hover{
    width: 40px;
    
}


/*responsive*/
@media (max-width: 430px){
    .container{
        width:90%;
       }
       .logo img{
        width: 70%;
    }
    .text p{
        font-size: 16px;
    }
    .icon {
        margin-top: -15px;
    }

}